.feature1{
    padding-top: 34px;
    height: 530px;
    background: #F7F5FE;
    .content{
        display: flex;
        align-items: center;
        gap: 0 118px;
        max-width: 1259px;
        .imgBox{
            width: 628px;
            height: 414px;
        }
        .text{
            width: 512px;
            height: 243px;
            h2{
                font-weight: 700;
                font-size: 36px;
                line-height: 46.5px;
                color: #2D1D61;
            }
            p{
                font-weight: 400;
                font-style: 16px;
                line-height: 24px;
                letter-spacing: 0.1px;
                margin-top: 20px;
                color: #363049;
                opacity: 0.8;
            }
        }
    }
}